@model UserInfo
<div class="card"> 
    <img src="~/images/5b165ce11ae66224008b4b92.webp" alt="huhu" />
    <div class="card-text">
        <h1>@Model.Name @Model.Surname</h1>
        <p>@Model.Email</p>
    </div>
</div>