<head>
	<link rel="stylesheet" href="~/css/uloha5.css" />
</head>
<div>
	<h1>Toggle textu</h1>
	<p>Tento text sa má skrývať a zobrazovať</p>
	<button onclick="zobraz()">Zobraziť/Skryť</button>
</div>
