<head>
	<link rel="stylesheet" href="~/css/uloha1.css"/>
</head>
<div class="center-container">
    <h1 class="display-4">Vitaj na stránke</h1>
    <p>Tato stranka je jednoducha</p>
    <a href="/" class="btn-primary">Späť na web</a>
</div>