<head>
	<link rel="stylesheet" href="~/css/uloha2.css" />
</head>
<div class="card"><img src="~/images/5b165ce11ae66224008b4b92.webp" alt="" />
<h1><b>Ján Novák</b></h1>
<p>Frontend Developer</p>
<a href="/" class="btn-primary">Späť na web</a>
</div>