<head>
	<link rel="stylesheet" href="~/css/uloha4.css"/>
</head>
<div class="text-center">
	<table>
		<tr>
			<th>Meno</th>
			<th>Priezvisko</th>
			<th>Email</th>
		</tr>
	@foreach(var user in Model){
		<tr>
		<td>@user.Name</td>
		<td>@user.Surname</td>
		<td>@user.Email</td>
		</tr>
	}
	</table>
</div>