<head>
	<link rel="stylesheet" href="~/css/uloha5.css" />
</head>
<div class="clickcard" id="clickcard">
	<p>Počet kliknutí: <span class="totalklik">0</span></p>
	<button onclick="klik()">Klikni</button>
</div>
