.card {
    border-radius: 20px;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 300px;
    padding: 10px;
}

img {
    border-color: black;
    height: 50px;
    width: 50px;
    border-radius: 1000px;
    border: 2px solid black;
}
.cards {
    display: flex;
    flex-direction:row;
}